.header {
  text-align: left;
  margin-left: 10px;
}

.article-card {
  border-style: solid;
  border-color: green;
  
}

.articles-images {
  width: 15%;

}

.comment-list {
  margin-left: 5px;
}

.comment {
  border-style: solid;
  border-color: lightgray;
  padding-left: 3px;
  margin-bottom: 5px;
  margin-left: 5px;
}

.vote-button {
  padding: 5px
}